main {

    text-align: center;
    background: url('../images/background_hero.svg');
    background-size: 175%;
    background-position: 46% 4%;
    background-color: $v;
    max-height: 100vh;
    height: 100vh;
    

    .hero {


        .heading {
    
    
            &_Xlarge {
                color: $g;
                font-weight: 700;
                font-size: 156px;
                line-height: 166px;
                margin-bottom: 40px;
                margin-top: 0;
                padding-top: 5%;
            }
    
            &_large {
                color: $g; 
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                padding-bottom: 40px ;
            }
    
        }

        .cta {
            color: $v;
            background-color: $g;
            text-decoration: none;
            text-transform: uppercase;
            padding: 14px 32px;
            border-radius: 500px;
        }
    
    }

}